<!-- О Школе -->
<section class="container section__about">
	<div class="row justify-content-md-center">
		<div class="d-none d-md-block col-md-4 col-lg-6 col-xl-5 text-center section__about-img">
			<img src="assets/img/shkola-m.jpg" class="card-img-top rounded wow animate__flipInX" data-wow-duration="2s" data-wow-delay="0s" alt="" />
		</div>
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">

			<h5 
				class="wow animate__zoomIn" 
				data-wow-duration="0.5s" 
				data-wow-delay="0s"
			>
				О нашей школе
			</h5>

			<h2 
				class="wow animate__zoomIn" 
				data-wow-duration="1s" 
				data-wow-delay="0s"
			>
				Школа Плавания<br/> 
				MySwimming
			</h2>

			<img src="assets/img/img-svg/wave.svg" class="wave" alt="">

			<p 
				class="wow animate__zoomIn" 
				data-wow-duration="2s" 
				data-wow-delay="0s"
			>

				Обучение плаванию в нашей Школе Плавания MySwimming — 
				"Мой плавательный центр" 
					это проект для всех родителей, которые хотят: 

			</p>
			
			<div class="d-sm-block d-md-none text-center section__about-img">
				<img src="assets/img/shkola-m.jpg" data-depth="0.6" class="card-img-top rounded" alt="" />
			</div>
			
			<div class="row section__about-center">
				<div 
					class="col-6 wow animate__zoomIn" 
					data-wow-duration="1.5s" 
					data-wow-delay="0s"
				>
					
					<div class="ico-ellipse">
						<span>
							<img src="assets/img/img-svg/swim-ico1.svg" class="" alt="">
						</span>
					</div>
					
					Научить своих детей плавать, потому что уметь плавать – это залог безопасности любого ребенка;
					
				</div>

				<div 
					class="col-6 wow animate__zoomIn" 
					data-wow-duration="2s" 
					data-wow-delay="0s"
				>
				
					<div class="ico-ellipse">
						<span>
							<img src="assets/img/img-svg/swim-ico2.svg" class="" alt="">
						</span>
					</div>
					
					Хотят, чтобы их ребенок не просто «купался», а плавал хорошо и красиво, с правильной техникой;
				
				</div>

				<div 
					class="col-6 wow animate__zoomIn" 
					data-wow-duration="2.5s" 
					data-wow-delay="0s"
				>
				
					<div class="ico-ellipse">
						<span>
							<img src="assets/img/img-svg/swim-ico3.svg" class="" alt="">
						</span>
					</div>
					
					Хотят еще больше развивать существующие у ребенка спортивный талант и способности именно к плаванию;
				
				</div>

				<div 
					class="col-6 wow animate__zoomIn" 
					data-wow-duration="3s" 
					data-wow-delay="0s"
				>
				
					<div class="ico-ellipse">
						<span>
							<img src="assets/img/img-svg/swim-ico4.svg" class="" alt="">
						</span>
					</div>
					
					В нашей Школе Плавания Ваш ребенок научится правильно плыть спортивной техникой.
				
				</div>
			</div>

		</div>
	</div>
</section>