<!-- НАЧНИ свой путь -->
<section class="jumbotron section__begin">
	<div class="container">
		<div class="row justify-content-md-center">
			
			<div class="d-none d-lg-block col-lg-3 col-xl-2">
	
					<div class="parallax bg-lt ico-11" data-prl>
						<div class="bg-ico ico-img-1" data-depth="1"></div>
					</div>
	
			</div>
			<div class="col-12 col-lg-6 col-xl-6 pt-4 text-center">
				
				<h5>
					Начните путь
				</h5>
				<h2>
					Начните свой путь в плавание <br/>вместе с профессионалами
				</h2>
				
				<a  
					data-bs-toggle="modal" 
					data-bs-target="#modalZV" 
					data-frame-load="zvk_myswm" 
					class="btn btn-lg btn-primary my-4" 
					title="Записаться в группу по плаванию"
				>
					Записаться в группу
				</a>

			</div>
			<div class="d-none d-lg-block col-lg-3 col-xl-2">
	
					<div class="parallax bg-lr ico-22" data-prl>
						<div class="bg-ico ico-img-2" data-depth="1"></div>
					</div>
	
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="d-none d-lg-block col-lg-5 col-xl-4">
	
					<div class="parallax bg-lt ico-33" data-prl>
						<div class="bg-ico ico-img-3" data-depth="0.5"></div>
					</div>
	
			</div>
			<div class="d-none d-lg-block col-lg-5 col-xl-4">
	
					<div class="parallax bg-lt ico-44" data-prl>
						<div class="bg-ico ico-img-4" data-depth="0.5"></div>
					</div>
	
			</div>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-6 d-md-block d-lg-none text-center">
	
					<img src="assets/img/img-svg/sq-ico-3.svg" alt="" class="sq-ico-3" >
	
			</div>
			<div class="col-6 d-md-block d-lg-none text-center pt-4">
	
					<img src="assets/img/img-svg/sq-ico-4.svg" alt="" class="sq-ico-4 mt-4" >
	
			</div>
		</div>
	</div>
</section>