<!-- ИНДИВИДУАЛЬНЫЕ -->
<section class="jumbotron-fluid section__swimmer">
	<div class="container">
		<div class="row  justify-content-md-center">
			<div class="col-12 col-md-7 col-lg-6 col-xl-6 align-self-center">

				<h2 
					class="wow animate__zoomIn" 
					data-wow-duration="1s" 
					data-wow-delay="0s"
				>
					Индивидуальные <br/>
					занятия по плаванию
				</h2>
				<p 
					class="wow animate__zoomIn" 
					data-wow-duration="1.5s" 
					data-wow-delay="0s"
				>
					Индивидуальные занятия – это индивидуальный подход и внимание тренера, 
					а также получение позитивных эмоций от занятий.
				</p>

				<div  
					class="wow animate__zoomIn" 
					data-wow-duration="2s" 
					data-wow-delay="0s"
				>
					<a 
						data-bs-toggle="modal" 
						data-bs-target="#modalZV" 
						data-frame-load="zvk_myswm" 
						class="btn btn-lg btn-primary mb-2 mx-2" 
						title="Заказать абонемент в Школу Плавания"
					>
						Заказать абонемент
					</a>
					<a 
						href="#" 
						class="btn btn-lg btn-outline-primary mb-2 mx-2" 
						title="Индивидуальные занятия по плаванию"
					>
						Подробнее
					</a>
				</div>

			</div>
			<div 
				class="d-none d-md-block col-md-5 col-lg-5 col-xl-4" 
				data-prl data-friction-y="0" 
				data-scalar-y="0"
			>
				<img src="assets/img/swimmer-d.png" class="card-img-top rounded wow animate__bounceInLeft"data-depth="0.6"data-wow-duration="3s" data-wow-delay="0s" alt="" />
			</div>
		</div>
	</div>
</section>