<!-- INSTAGRAM -->
<section class="jumbotron section__insta">
	<div class="container">
		<div class="row">
			<div class="col-12 pt-4 mb-4 text-center">
	
				<a 
					class="click-insta bs-0" 
					href="https://www.instagram.com/myswimming.center" 
					title="Наш Instagram" 
					target="_blank" 
					rel="nofollow" 
					onclick="yaCounter45395127.reachGoal('socinsta'); 
					return true;"
				>
					<!-- <i class="fab fa-instagram-square"></i> -->
					<span class="instagram-square">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
							<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/>
						</svg>
					</span>
					<h2>
						Мы в инстаграм
					</h2>
				</a>
	
			</div>
		</div>
		<div class="row g-0">

			<!-- 1 col -->
			<div class="col-4 d-none d-lg-block mt-4">
					
				<div class="row g-0">
					<div 
						class="col-12 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="2s" 
						data-wow-delay="0s"
					>
						
						<a 
							href="https://www.instagram.com/p/B82_zByByBA/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
							<img src="assets/img/insta/instagram-com-p-B82_zByByBA.jpg" class="img-fluid" alt="" />

						</a>
						
					</div>
				</div>
				<div class="row g-0">
					<div class="col-6 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="2.4s" 
						data-wow-delay="0s"
					>
					
						<a 
							href="https://www.instagram.com/p/CEQutxkh5MC/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						
								>

							<img src="assets/img/insta/instagram-com-p-CEQutxkh5MC.jpg" class="img-fluid" alt="" />
						</a>
						
					</div>
					<div 
						class="col-6 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="2.8s" 
						data-wow-delay="0s"
					
						>
						
						<a 
							href="https://www.instagram.com/p/B9isW8TF35g/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
							<img src="assets/img/insta/instagram-com-p-B9isW8TF35g.jpg" class="img-fluid" alt="" />
						</a>
					</div>
				</div>
	
			</div>
			<!-- / 1 col -->

			<!-- 2 col -->
			<div class="col-4 d-none d-lg-block mt-4">
	
				<div class="row g-0">
					<div 
						class="col-6 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="1s" 
						data-wow-delay="0s"
					>
						
						<a 
							href="https://www.instagram.com/p/B72kkr3BnuL/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
							<img src="assets/img/insta/instagram-com-p-B72kkr3BnuL.jpg" class="img-fluid" alt="" />
						</a>
						
					</div>
					<div 
						class="col-6 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="1.8s" 
						data-wow-delay="0s"
					>
						
						<a 
							href="https://www.instagram.com/p/CFlxTNsF5E6/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
								<img src="assets/img/insta/instagram-com-p-CFlxTNsF5E6.jpg" class="img-fluid" alt="" />
						</a>
					</div>
				</div>
				<div class="row g-0">
					<div 
						class="col-12 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="1.4s" 
						data-wow-delay="0s"
					>
						<a 
							href="https://www.instagram.com/p/CFtU0Rmlxmp/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
								<img src="assets/img/insta/instagram-com-p-CFtU0Rmlxmp.jpg" class="img-fluid" alt="" />
						</a>
						
					</div>
				</div>
					
			</div>
			<!-- / 2 col -->

			<!-- 3 col -->
			<div class="col-4 d-none d-lg-block mt-4">
					
				<div class="row g-0">
					<div 
						class="col-12 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="3s" 
						data-wow-delay="0s"
					>
						
						<a 
							href="https://www.instagram.com/p/B8dN30dg6Jz/" 
							target="_blank" 
							title="Посмотреть в instagram" rel="nofollow"
						>
							<img src="assets/img/insta/instagram-com-p-B8dN30dg6Jz.jpg" class="img-fluid" alt="" />
						</a>
						
						
					</div>
				</div>
				<div class="row g-0">
					<div 
						class="col-6 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="2.8s" 
						data-wow-delay="0s"
					>


						<a 
							href="https://www.instagram.com/p/B7sRL6IBprv/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
							<img src="assets/img/insta/instagram-com-p-B7sRL6IBprv.jpg" class="img-fluid" alt="" />
						</a>
						
					</div>
					<div 
						class="col-6 text-center p-2 wow animate__zoomIn" 
						data-wow-duration="2.4s" 
						data-wow-delay="0s"
					>
	
						<a 
							href="https://www.instagram.com/p/CEn1-l9FEdF/" 
							target="_blank" 
							title="Посмотреть в instagram" 
							rel="nofollow"
						>
							<img src="assets/img/insta/instagram-com-p-CEn1-l9FEdF.jpg" class="img-fluid" alt="" />
						</a>
						
						
					</div>
				</div>
					
			</div>
			<!-- / 3 col -->

		</div>
	</div>
</section>