<!-- ЦЕНЫ -->
<section class="container section__price">
	<div class="row row-cols-1 row-cols-md-3">
		<div class="col mb-4">
			<div class="card h-100" itemscope itemtype="http://schema.org/Product">
				<a href="#" title="Обучение плаванию детей от 6-8 лет" class="bs-0">		
					<img src="assets/img/obuchenie-7.jpg" class="card-img-top rounded" alt="Обучение плаванию детей от 6-8 лет" />
				</a>
			  <div class="card-body">

				<p class="card-title" itemprop="name">
					Обучение плаванию детей 
					<strong>от 6-8 лет</strong>
				</p>

				<p class="card-text" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<span itemprop="price"></span>
					<span itemprop="priceCurrency" content="BYN">бел. руб.</span><sup>*</sup>
				</p>

			  </div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card h-100" itemscope itemtype="http://schema.org/Product">
				<a href="#" title="Обучение плаванию детей от 9 лет" class="bs-0">
					<img src="assets/img/obuchenie-9.jpg" class="card-img-top rounded" alt="Обучение плаванию детей от 9 лет" />
				</a>
			  <div class="card-body">
				<p class="card-title" itemprop="name">
					Обучение плаванию детей 
					<strong>от 9 лет</strong>
				</p>
				<p class="card-text" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<span itemprop="price"></span>
					<span itemprop="priceCurrency" content="BYN">бел. руб.</span><sup>*</sup>
				</p>
			  </div>
			</div>
		</div>
		<div class="col mb-4">
			<div class="card h-100" itemscope itemtype="http://schema.org/Product">
				<a href="#" title="Индивидуальные занятия по плаванию" class="bs-0">
					<img src="assets/img/obuchenie-6.jpg" class="card-img-top rounded" alt="Индивидуальные занятия по плаванию" />
				</a>
			  <div class="card-body">
				<p class="card-title" itemprop="name">
					<strong>Индивидуальные занятия</strong> 
					по плаванию
				</p>
				<p class="card-text" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
					<span itemprop="price" class="price__individual"></span>
					<span itemprop="priceCurrency" content="BYN">бел. руб.</span>
				</p>
			  </div>
			</div>
		</div>
	</div>
</section>