<!-- ТРЕНЕРА ****************************************  -->
<section class="jumbotron-fluid section__coach">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-xl-10 pt-4 text-center">

				<div>
					<h5>
						Наши тренеры
					</h5>
					<h2>
						Профессионалы<br/> 
						своего дела
					</h2>
				</div>
				
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
						
							<div>
								<a href="#" title="Тренер по плаванию Бученкова Эльвира Адольфовна">
									<img src="assets/img/trenera/buchenkova-elvira-sm.jpg" class="rounded" alt="" style="width: 100%; max-width: 400px;" />
								</a><br />
								
								<h4>
									Бученкова<br />
									Эльвира Адольфовна
								</h4>

								<img src="assets/img/img-svg/wave.svg" class="wave" alt="" />
								<br />

								<div class="swiper-zaslugi">
									Заслуженный <br />
									мастер спорта СССР
								</div>
							</div>
							
						</div>
						<div class="swiper-slide">
						
							<div>
								<a href="#" title="Тренер по плаванию Бученков Александр Эдуардович">
									<img src="assets/img/trenera/buchenkov-aleksandr-sm.jpg" class="rounded" alt="" style="width: 100%; max-width: 400px;" />
								</a><br />
								
								<h4>
									Бученков<br />
									Александр Эдуардович
								</h4>

								<img src="assets/img/img-svg/wave.svg" class="wave" alt="" />
								<br />

								<div class="swiper-zaslugi">
									Мастер спорта <br />
									международного класса СССР
								</div>
							</div>
							
						</div>
						<div class="swiper-slide">
						
							<div>
								<a href="#" title="Тренер по плаванию Смирнова Инга Михайловна">
									<img src="assets/img/trenera/smirnova-sm.jpg" class="rounded" alt="" style="width: 100%; max-width: 400px;" />
								</a><br />
								
								<h4>
									Смирнова <br />
									Инга Михайловна
								</h4>

								<img src="assets/img/img-svg/wave.svg" class="wave" alt="" />
								<br />

								<div class="swiper-zaslugi">
									Кандидат<br />
									мастера спорта
								</div>

							</div>
							
						</div>
						<div class="swiper-slide">
						
							<div>
								<a href="#" title="Тренер по плаванию Драгун Варвара Геннадьевна">
									<img src="assets/img/trenera/dragun-sm.jpg" class="rounded" alt="" style="width: 100%; max-width: 400px;" />
								</a><br />
								
								<h4>
									Драгун <br />
									Варвара Геннадьевна
								</h4>

								<img src="assets/img/img-svg/wave.svg" class="wave" alt="" />
								<br />

								<div class="swiper-zaslugi">
									Мастер спорта РБ
								</div>
							</div>
							
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<!-- Add Navigation -->
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>

			</div>
		</div>
	</div>
</section>