<!-- Блок контактов -->
<div class="row justify-content-md-center mt-4 pt-4">
	<div class="col-12 col-lg-6 col-xl-6">
		<div  id="map"></div>
	</div>
	<div class="col-12 col-lg-6 col-xl-4">
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<strong>Адрес арендной базы:</strong> <span itemprop="addressLocality">Минск</span>, <span itemprop="streetAddress">ул. Долгобродская 37</span>
		</div>
		<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" >
			<meta itemprop="bestRating" content="5" >
			<meta itemprop="ratingValue" content="4,90" >
			<meta itemprop="ratingCount" content="78" >
		</div>
		<p>
			<strong>Телефон:</strong> <a href="tel:+375298985638"><span itemprop="telephone" class="telephone">+375 29 898 56 38</span></a><br/>
			<strong>Телефон:</strong> <a href="tel:+375293885638"><span itemprop="telephone" class="telephone">+375 29 388 56 38</span></a>
		</p>
		<p><strong>Цена от:</strong> <span itemprop="priceRange">14</span> BYN</p>
		<p><a href="/obuchenie-plavaniu/" title="Обучение плаванию в Школе Плавания">Подробнее об услугах Школы плавания</a></p>
		<p>Главные <a href="/trenera-po-plavaniu/" title="тренеры Школы Плавания">тренеры нашей Школы Плавания</a> - призеры и участники Олимпийских игр.
		Им хорошо известна цена и вкус побед.
		Наработавшие значительный профессиональный стаж, тренеры-чемпионы помогают развиться многим спортивным талантам.</p>
	</div>
</div>