<!-- Блок новости -->
<div class="row justify-content-md-center">
		
	<div class="col-12 col-lg-6 col-xl-5">
		<a href="#" title="Обучение плаванию детей в Минске">
		<img src="assets/img/news/news1.jpg" alt="Обучение плаванию детей в Минске" class="img-fluid" />
			<h3 class="pt-4 pb-2">
				Обучение плаванию детей в Минске
			</h3>
		</a>
		<p>
			Наша Школа Плавания отлично подойдет как для взрослых, так и для детей. 
			У нас можно научиться плавать и с пользой для здоровья проводить свой досуг, 
			а при желании освоить новые стили или улучшить собственную технику плавания.
		</p>
	</div>
	
	<div class="col-12 col-lg-6 col-xl-5">
		<a href="#" title="Набор в школу плавания">
		<img src="assets/img/news/news2.jpg" alt="Набор в школу плавания" class="img-fluid" />
			<h3 class="pt-4 pb-2" />
				Набор в школу плавания
			</h3>
		</a>
		<p>
			Известное стихотворение Чуковского «Мойдодыр» заканчивается такими строчками: 
			«Всегда и везде – вечная слава воде!». Что может принести детишкам и взрослым 
			большую пользу, чем обучение плаванию? А умеющие плавать знают наверняка - 
			совершенству нет предела, было бы желание тренироваться и учиться новому.
		</p>
	</div>
</div>