<!-- ОБУЧЕНИЕ / УСЛУГА -->
<section class="container section__inner mb-4">
			
	<div class="row d-line justify-content-md-center">
		<div class="col-12 col-lg-8 col-xl-7 pb-4">
			<h1>
				Обучение плаванию <br class="d-none d-lg-inline" />
				детей от 6 до 8 лет
			</h1>
			
			<div class="row section__inner-bg3 h-bg-inner">
				<div class="col-12 col-lg-4 mb-4">
					<small>
						Стоимость
					</small><br />
					<span class="fs24" itemprop="price">
						
					</span>
					<span class="fs24">
						бел.руб.<sup>*</sup>
					</span>
				</div>
				<div class="col-12 col-lg-4 mb-4">
					<small>
						Количество человек
					</small><br />
					<span class="fs24">
						8 человек
					</span>
				</div>
				<div class="col-12 col-lg-4 mb-4">
					<small>
						Возраст лет
					</small><br />
					<span class="fs24">
						от 6 лет
					</span>
				</div>
				<div class="col-12">
					<a
						data-bs-toggle="modal" 
						data-bs-target="#modalZV" 
						data-frame-load="zvk_myswm" 
						class="btn btn-lg btn-primary mb-2 mx-2" 
						title="Записаться в группу">
							Записаться в группу
					</a>
				</div>
			</div>

		</div>
		<div class="d-none d-lg-block col-lg-4 col-xl-3 of-hidden">
				<img src="assets/img/img-svg/sq-ico-2.svg" alt="" />
		</div>
	</div>

	<div class="row justify-content-md-center section__inner__main">
		<div class="d-none d-md-block col-md-4 col-lg-6 col-xl-4 text-center c-about-img">

				<picture>
					<source 
						type="image/webp" 
						srcSet="assets/img/shkola-m.webp" 
					/>
					<source 
						type="image/jpeg" 
						srcSet="assets/img/shkola-m.jpg" 
					/>
					<img 
						src="assets/img/shkola-m.jpg" 
						class="card-img-top rounded" 
						alt="" 
					/>
				</picture>
				
		</div>
		<div class="col-12 col-md-8 col-lg-6 col-xl-6">

				<h2>
					Маленькие группы детей неумеющих плавать
				</h2>
				<h5 class="mb-4">
					<strong>До 5 человек на тренера</strong>, 
					на 25м бассейн для обучения (НЕ МАЛЮТКА).</h5>

				<p>
					<a href="#" title="Обучать плаванию детей">
						<strong>Обучать плаванию</strong>
					</a> детей начиная с 6 лет можно в нашей 
					<a href="/" title="Школа Плавания в Минске">
						Школе Плавания
					</a>.
					Для комфорта самих детей, а также для удобства тренеров, набираются группы 
					с приблизительно похожими уровнями подготовки.
					Обучение плаванию, при всей серьезности процесса, детям преподносится 
					интересно и весело: положительные эмоции становятся хорошим стимулом 
					для успешных занятий.
				</p>
				<p>
					<strong>Плавание</strong> приносит огромную пользу здоровью человека.
					Да и само по себе <strong>умение плавать</strong> никогда не станет лишним.
					Пожалуй, это основные мотивы родителей, с которыми они приводят детей в бассейн.
					Далеко не все родители отдают ребенка в школу плавания, чтобы он там обязательно 
					стал чемпионом, но есть и такие, кто изначально имеет желание, чтобы ребенок 
					достиг высоких результатов в этом виде спорта, особенно, если у него есть  
					желание развивать свои способности.
				</p>
				<p>
					Какой бы целью не задался ребенок, с нашими тренерами он ее достигнет.
					Ведь 
					<a href="#" title="Тренеры Школы Плавания">
						тренеры Школы Плавания
					</a>&nbsp;-&nbsp;настоящие профессионалы, добившиеся  значительных успехов в своей 
					спортивной карьере.
					Они понимают, как важно большинству детей сначала полюбить плавать, чтобы дальше 
					научиться хорошей технике.
					Все и начинается с желания ребенка достигать все лучших и лучших результатов, 
					покорять все новые и новые вершины, чему и уделяется немало внимания на протяжении 
					всего времени тренировок.
				</p>
				<p>
					Занятия в 
					<a href="#" title="Школа Плавания в Минске">
						<strong>Школе Плавания</strong>
					</a> воспитывают в детях такие качества как ответственность, дисциплинированность, 
					а также способствуют физическому и психологическому развитию.
					Отдавая ребенка к нам в школу плавания, стоит помнить об этом.
				</p>

		</div>
	</div>

	<div class="row">
		<div class="col-12 py-4">
			<hr class="my-4" />
		</div>
	</div>

</section>