<!-- Блок таблица -->
<div class="row justify-content-md-center mb-4">
	<div class="col-12 col-lg-10">
		<div class="table-responsive raspisanie">
		<table class="table table-borderless table-striped table-hover">
		<thead>
			<tr>
				<th scope="col" class="fst-th align-self-center">#</th>
				<th scope="col">Утро</th>
				<th scope="col">День</th>
				<th scope="col">Вечер</th>
			</tr>
		</thead>
			<tbody>
			<tr class="table-info">
				<th scope="row" class="fst-th align-middle">Пн.</th>
				<td class="brd align-middle">—</td>
				<td class="brd">
					16:30&nbsp;-&nbsp;17:15&nbsp;(2&nbsp;гр.)<br>
					17:30&nbsp;-&nbsp;18:15&nbsp;(2&nbsp;гр.)
				</td>
				<td>
					18:30&nbsp;-&nbsp;19:15&nbsp;(2&nbsp;гр.)<br>
					19:30&nbsp;-&nbsp;20:15&nbsp;(2&nbsp;гр.)
				</td>
			</tr>
			<tr class="table-info info-op">
				<th scope="row" class="fst-th align-middle">Вт.</th>
				<td class="brd align-middle">—</td>
				<td class="brd">
					16:30&nbsp;-&nbsp;17:15&nbsp;(2&nbsp;гр.)<br>
					17:30&nbsp;-&nbsp;18:15&nbsp;(2&nbsp;гр.)
				</td>
				<td>
					18:30&nbsp;-&nbsp;19:15&nbsp;(2&nbsp;гр.)<br>
					19:30&nbsp;-&nbsp;20:15&nbsp;(2&nbsp;гр.)
				</td>
			</tr>
			<tr class="table-info">
				<th scope="row" class="fst-th align-middle">Ср.</th>
				<td class="brd align-middle">—</td>
				<td class="brd">
					—
				</td>
				<td>
					—
				</td>
			</tr>
			<tr class="table-info info-op">
				<th scope="row" class="fst-th align-middle">Чт.</th>
				<td class="brd align-middle">—</td>
				<td class="brd">
					16:30&nbsp;-&nbsp;17:15&nbsp;(2&nbsp;гр.)<br>
					17:30&nbsp;-&nbsp;18:15&nbsp;(2&nbsp;гр.)
				</td>
				<td>
					18:30&nbsp;-&nbsp;19:15&nbsp;(2&nbsp;гр.)<br>
					19:30&nbsp;-&nbsp;20:15&nbsp;(2&nbsp;гр.)
				</td>
			</tr>
			<tr class="table-info">
				<th scope="row" class="fst-th align-middle">Пт.</th>
				<td class="brd align-middle">—</td>
				<td class="brd">
					16:30&nbsp;-&nbsp;17:15&nbsp;(2&nbsp;гр.)<br>
					17:30&nbsp;-&nbsp;18:15&nbsp;(2&nbsp;гр.)
				</td>
				<td>
					18:30&nbsp;-&nbsp;19:15&nbsp;(2&nbsp;гр.)<br>
					19:30&nbsp;-&nbsp;20:15&nbsp;(2&nbsp;гр.)
				</td>
			</tr>
			<tr class="table-info info-op">
				<th scope="row" class="fst-th align-middle">Сб.</th>
				<td class="brd align-middle">—</td>
				<td class="brd">
					14:30&nbsp;-&nbsp;15:15&nbsp;(2&nbsp;гр.)<br>
					15:30&nbsp;-&nbsp;16:15&nbsp;(2&nbsp;гр.)<br>
					16:30&nbsp;-&nbsp;17:15&nbsp;(2&nbsp;гр.)<br>
					17:30&nbsp;-&nbsp;18:15&nbsp;(2&nbsp;гр.)<br><br>
					
					13:30&nbsp;-&nbsp;14:30&nbsp;(Б.В.)<br>
					14:15&nbsp;-&nbsp;15:15&nbsp;(Б.В.)<br>
					15:00&nbsp;-&nbsp;16:00&nbsp;(Б.В.)
				</td>
				<td>
					18:30&nbsp;-&nbsp;19:15&nbsp;(2&nbsp;гр.)<br>
				</td>
			</tr>
			<tr class="table-info">
				<td colspan="4">
					Главный тренер клуба: <a href="/trenera-po-plavaniu/#elvira" title="Тренер по плаванию Бученкова Эльвира Адольфовна">Бученкова Эльвира Адольфовна</a>
				</td>
			</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>
