<!-- BREAD -->
<section class="container-fluid mb-4 section__bread">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-xl-10">
				<p class="mb-0" id="crumbs">

					<a
						href="/" 
						title="Обучение плаванию, Школа Плавания — MySwimming в Минске" 
					>
						Школа плавания
					</a>

					<span class="delimiter bread">
					•
					</span>

					<a 
						href="#"
						title=""
						class="active"
					>
						Услуга
					</a>

				</p>
			</div>
		</div>
	</div>
</section>